<mat-drawer-container class="page-container tasks-container">
    <mat-drawer #drawer class="nav-drawer">
        <navigation (toggleNav)="toggleNav()">
        </navigation>
    </mat-drawer>
    <mat-drawer-content class="page-content-container">
        <div class="header-items">
            <button class="hamburger-button" mat-fab (click)="toggleNav()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
            <div class="tasks-frame title-frame">
                <span class="tasks-title-text section-title-text">
                    Daily Tasks
                </span>
            </div>
            <div class="coin-count-container">
                <span class="coin-count-text section-title-text">
                    {{getUserCoins()}}
                </span>
                <div class="coin-image-container">
                    <img src="assets/GoldCoin.png" class="coin-image">
                </div>
            </div>
        </div>
        <div class="body-items">
            @for(task of tasks; track task.name)
            {
            <div class="task-item">

                <div class="name-and-details-container">
                    <span class="task-title">
                        {{task.name}}
                    </span>
                    <em class="task-description">
                        {{task.description}}
                    </em>
                    <span class="xp-text">
                        + {{task.xp}} XP
                    </span>
                </div>
                <button mat-fab class="complete-button" (click)="completeTask(task)">
                    &check;
                </button>

            </div>
            }
        </div>
    </mat-drawer-content>


</mat-drawer-container>