<mat-drawer-container class="page-container tasks-container">
    <mat-drawer #drawer class="nav-drawer">
        <navigation (toggleNav)="toggleNav()">
        </navigation>
    </mat-drawer>
    <mat-drawer-content class="page-content-container">
        <div class="header-items">
            <button class="hamburger-button" mat-fab (click)="toggleNav()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
            <div class="tasks-frame title-frame">
                <span class="tasks-title-text section-title-text">
                    Daily Tasks
                </span>
            </div>
        </div>
        <div class="body-items">
            @for(task of tasks; track task.name)
            {
            <div class="task-item">

                <div class="name-and-details-container">
                    <span class="task-title">
                        {{task.name}}
                    </span>
                    <em class="task-description">
                        {{task.description}}
                    </em>
                    <span class="xp-text">
                        + {{task.xp}}
                    </span>
                </div>
                <button mat-fab class="complete-button"></button>

            </div>
            }
        </div>
    </mat-drawer-content>


</mat-drawer-container>