$colors: (
    yellow: #ffeb00,
    pastel-yellow: rgb(254, 254, 163),
    green: #449d60,
    pastel-green: #d0e2be,
    blue: rgb(171, 223, 248),
    light-gray: rgb(238, 238, 238),
    red: #ef9e95
);