<mat-drawer-container class="page-container tasks-container">
    <mat-drawer #drawer class="nav-drawer">
        <navigation (toggleNav)="toggleNav()">
        </navigation>
    </mat-drawer>
    <mat-drawer-content class="page-content-container">
        <div class="header-items">
            <button class="hamburger-button" mat-fab (click)="toggleNav()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
            <div class="shop-frame title-frame">
                <span class="shop-title-text section-title-text">
                    Shop
                </span>
            </div>
            <div class="coin-count-container">
                <span class="coin-count-text section-title-text">
                    {{getUserCoins()}}
                </span>
                <div class="coin-image-container">
                    <img src="assets/GoldCoin.png" class="coin-image">
                </div>
            </div>
        </div>
        <div class="body-items">
            @for(cosmetic of cosmetics; track cosmetic.name)
            {
            <div class="shop-item">

                <div class="preview-image-container">
                    <img class="preview-image" [src]="cosmetic.path">
                </div>
                <div class="details-container">
                    <span class="cosmetic-title">{{cosmetic.name}}</span>
                </div>
                <div class="button-container">
                    <button mat-button (click)="buyCosmetic(cosmetic.name)" class="buy-button"
                        [disabled]="userHasEnoughGold(cosmetic)">
                        {{cosmetic.price}}
                    </button>
                </div>


            </div>
            }
        </div>
    </mat-drawer-content>


</mat-drawer-container>