@import '../../colors.scss';

:host {
    .page-content-container {
        background-color: map-get($colors, silver-gray);

    }

    .shop-frame {
        background-color: map-get($colors, silver-gray);
        outline: 1px solid map-get($colors, dark-brown);
    }

    .shop-title-text {
        color: map-get($colors, pastel-brown);
    }

    .hamburger-button {
        background-color: map-get($colors, dark-brown);
        color: white;
    }

    .body-items {
        margin-top: 20px;
        margin: 20px auto 0px auto;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .shop-item {
        background-color: map-get($colors, pastel-brown);
        height: 20%;
        width: 80%;
        border-radius: 12px;
        margin-top: 20px;

        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .preview-image-container {
        height: 40px;
        width: 40px;

        margin-left: 20px;
        display: flex;
        align-items: center;

    }

    .cosmetic-title {
        font-size: large;
        font-weight: bold;
        margin-left: 20px;
        flex-grow: 1;
    }

    .preview-image {
        width: 100%;
        height: auto;
    }

    .buy-button {

        background-color: map-get($colors, pastel-yellow);
    }

    .button-container {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
}