@import '../../colors.scss';

:host {
    .home-container {
        background-color: map-get($colors, blue);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        height: 10%;
    }

    .body-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .tree-image-container {
        display: flex;
        width: 250px;

    }

    .tree-image {
        width: 100%;
        height: auto;
    }

    .footer-items {
        display: flex;
        height: 15%;
    }

    .home-page-container {
        height: 100%;
    }

    .hamburger-button {
        background-color: map-get($colors, yellow);
        color: darkgray;
    }

    .user-name-title {

        text-align: center;
        color: white;
    }

    .user-name-frame {
        flex-grow: 1;
        display: flex;
        height: 80%;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        background-color: map-get($colors, pastel-green);
        border-radius: 12px;
        outline: solid 1px map-get($colors, green);
    }
}