@use '@angular/material' as mat;
@import 'app/colors.scss';

$pastel-green: map-get($colors, pastel-green);

/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.section-title-text {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.dense-small-4 {
    @include mat.all-component-densities(-4);
}






.create-account-dialog .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 12px;
    height: 450px;
    width: 300px;

}