@use '@angular/material' as mat;
@import 'app/colors.scss';

$pastel-green: map-get($colors, pastel-green);

/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.section-title-text {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.title-frame {
    flex-grow: 1;
    display: flex;
    height: 80%;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.dense-small-4 {
    @include mat.all-component-densities(-4);
}






.create-account-dialog .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 12px;
    height: 450px;
    width: 300px;

}

.page-content-container {
    background-color: map-get($colors, blue);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    height: 100%;
}

.header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 10%;
}

.coin-count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coin-count-text {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 0.8rem;
    z-index: 5;
    transform: translateY(1px);
}

.coin-image-container {
    width: 40px;
    transform: rotateZ(270deg);
    display: flex;
}

.coin-image {
    width: 100%;
    height: auto;

}